name: task
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: 0.19.0
  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.0
  equatable: ^2.0.7
  flutter_svg: ^2.0.17
  get_it: ^8.0.3
  injectable: ^2.5.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  build_runner: ^2.4.15
  injectable_generator: 2.6.2
  flutter_gen_runner: ^5.10.0
  hive_generator: ^2.0.1
  bloc_test: ^10.0.0
  mocktail: ^1.0.4

flutter_gen:
  output: lib/generated/
  integrations:
    flutter_svg: true
  assets:
    enabled: true
    outputs:
      package_parameter_enabled: true
      class_name: AppAssets
  fonts:
    enabled: true
    outputs:
      class_name: FontFamily
  colors:
    enabled: true
    outputs:
      class_name: AppColors
    inputs:
      - assets/color/colors.xml

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/svg/
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins_Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins_Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins_SemiBold.ttf
          weight: 600
